

#main{
    display:flex;

}
#left-part{
    flex:1;
    height:720px;
    width:906px;
    padding-top: 72px;
    padding-left: 166px;
}
#form{
    flex:1;
    width:500px;
}
#login-img{
    
    width: 576px;
    height: 576px;
    border-radius: 50%;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
}

#upper-part{
    width:818px;
    height:315.05px;
}

#logo{
    padding-top: 106px;
    
    width: 272px;
    height: 58px;
}
.logo-text{
    padding-top:19.17px;
  
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.highlight{
    padding-top: 19.17px;
    
    width: 137px;
    height: 53px;
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}
#middle-part
{
    padding-top:31.87px;
    margin-bottom: 23.45px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}


#username{
    font-family: "Roboto", sans-serif;
    font-weight: 400;       
    font-size: 15px;
    text-align: left;           
    width: 429px;
    height: 49px;
    margin-bottom: 27px;
    padding-left:14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
#password{
    width: 429px;
    height: 49px;
    margin-bottom: 30.5px;
    padding-left:14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
.secondlast{
    width:429px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 34.48px;
}
#login{   
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    font-size:24px;
    text-align: center;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    border:none;
 
}
.forgot-password{
    text-decoration: none;
    text-align: center;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    width: 121px;
    height: 20px;
    padding-top: 9.65px;
}

.last{
    display:flex;

}
.new-user{
    width: 160px;
    height: 20px;
    
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    margin-right: 2px;
 }
.register{
    width: 88px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
 }



        /* DASHBOARD DESIGN    */
.header{
    display:flex;
    width: 100%;
    height: 80px;
    
    justify-content: space-between;
    align-items:center;
  
}
                 /* .left-header{
                
                    /* flex:1.2; */
                    /* width:242px;
                    align-items: center; */
                /* } 
                .middle-header{
                    display:flex;
                    /* flex:4; */
                    /* align-items:center; */
                
                
                /* .right-header{
                    
                    display:flex;
                    height:44px; */
                    /* flex:1; */
                    /*  */
                    /* align-items:center; */
                    
                /* } */
.menu-icon{
    width: 18px;
    height: 32px;   
 
    margin-left:29px;
}
.header-logo{
    width: 142px;
    height: 30px;
    margin-left: 25px;
}
.search-icon{
  
    width: 16px;
    height: 32px;
    /* margin-top: 27.67px; */
    margin-left:76.67px;
    /* margin-right: 14.74px; */
    opacity: 1;

}
.search{
    width:49px;
    height:21px;
    margin-right: 924.2px;

}

.notification{
    margin-right: 52.28px;
    width: 22px;
    height: 21px
    
}
.profile{
    width: 44px;
    height: 44px;
}
.user-name{
    width: 68px;
    height: 21px;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
    font-family: "Roboto";
    /* margin-left:12px; */
    color: #000000;
    opacity: 1;

}
.lower-body{
    display:flex;
   
    
}
.sidebar{
    width: 242px;
    height: 1279px;
    /* background-color: #dd3030 ; */
    opacity: 1;
    margin-right: 50px;
}


.sidebar-items{
    display: flex;
    align-items:center ;
    /* background-color:yellow ; */
    width:183px;
    height:43px;
    margin-top: 25px;
    margin-left: 30px;
    /* background-color: blue ; */
    /* background: #FFF3F4 0% 0% no-repeat padding-box; */
    border-radius: 5px;
    opacity: 1;
}
.sidebar-items img{
    width:19px;
    height:19px;
    margin-left:17.5px;
    margin-right:12px;
}

.sidebar-items span{
    width: 78px;
    height: 21px;
    font-size: 16px;
    text-align: left;
    font-family: "Roboto";
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.sidebar-items:first-child span {
    color: #C8242F;
  }
.main-content{
    
    height:1277px;
    /* background-color: rgb(59, 196, 230); */
    flex:1;
  
}
.dashboard-text{
    width: 146px;
    height: 39px;
    text-align: left;
    font-size:30px;
    font-family: "Roboto";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 40.75px;
    margin-left:48px;
    margin-bottom: 22.25px;
}
.listing{
    display:flex;
    gap:30px;
    margin-left:50px;
    margin-bottom: 30px;
    align-items:center;
}
.item{
    display: flex;
   
    height:116px;
    width:219.4px;
    align-items: center;
    /* background-color: mediumseagreen; */
}
.item img{
    height:38px;
    width:38px;
    margin-left: 28px;
}
.line1{
    width: 77px;
    height: 33px;
    margin-left: 19.33px;
    /* UI Properties */
    text-align: left;
    font-size:25px;
    font-weight: medium;
    font-family:"Roboto";
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.line2{
    
    height: 20px;
    text-align: left;
    font-size:15px;
    font-family: "Roboto";
    margin-left: 19.33px;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;

}
.graph{
    display:flex;
    width:802px;
    height:400px;
    margin-left:50px;
}
.graph-header{
    display:flex;
    justify-content: space-between;
    height:29px;
    /* background-color: #C8242F; */
    margin-bottom:37.98px;
}
.sale-text{
    width: 43px;
    height: 29px;
    font-family:"Roboto";
    font-size:22px;
    text-align: left;
    font-weight:medium;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-top:24px;
    margin-left:29px;
}
.bar-graph img{
    width: 800px;
    height: 347.48px;
    margin-left: 29px;
}
.pie-chart{
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    height:347.48px;
}
.pie-header{
   
    height:29px;
    text-align:left;
    margin-top: 21.52px;
    font-weight:medium;
    font-size:22px;
    font-family: "Roboto";
    color:#3E3E3E;
}





            /* INNER PAGE HTML  */
    

.content-header{
    width: 113px;
    height: 39px;
    text-align: left;
    font: normal normal 500 30px/39px Roboto;
    margin-top:22.25px;
    margin-left: 48px;
    margin-bottom:22.25px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.form{
    width: 1218px;
    height: 1749px;
    margin-left:50px;
    margin-top:22.25px;
    /* background-color: #C8242F; */
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    border-radius: 5px;
    opacity: 1;
}
.form-header{
    text-align: left;
    padding-left:29px;
    padding-top:22.52px;
    font: normal normal 450 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;

}
.name-field{
    font-size:15px;
    width: 1157px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.ms-custom{
    margin-left: 30.5px;
}

.dropdown{
    width: 1157px;
    height: 49px;
    /* UI Properties */
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
